{{template "header"}}
<body ontouchstart>
    <div class="container" id="container"></div>
    <div class="page__ft">
        <a href="javascript:home()"><img src="/static/images/icon_footer_link.png" /></a>
    </div>

<div class="page">

    <div class="page__bd">
        <p class="page__desc">大成前瞻猪信息概览:</p>
        <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
             <label class="weui-form-preview__label">母猪信息</label>
             <em class="weui-form-preview__value">4500头</em>
            </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">7日龄</label>
                <span class="weui-form-preview__value">600</span>
            </p>
            <p>
                <label class="weui-form-preview__label">品种</label>
                <span class="weui-form-preview__value">{{.woshu}}</span>
            </p>

        </div>
    </div>
    <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
             <label class="weui-form-preview__label">仔猪信息</label>
             <em class="weui-form-preview__value">1200头</em>
            </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">日龄</label>
                <span class="weui-form-preview__value">电动打蛋机</span>
            </p>
            <p>
                <label class="weui-form-preview__label">窝数</label>
                <span class="weui-form-preview__value">12</span>
            </p>
          </div>
    </div>
    <div class="weui-form-preview">
            <div class="weui-form-preview__hd">
             <label class="weui-form-preview__label">出栏信息</label>
             <em class="weui-form-preview__value">100头</em>
            </div>
        <div class="weui-form-preview__bd">
            <p>
                <label class="weui-form-preview__label">日龄</label>
                <span class="weui-form-preview__value">12头</span>
            </p>
            <p>
                <label class="weui-form-preview__label">窝数</label>
                <span class="weui-form-preview__value">12</span>
            </p>
          </div>
    </div>

  </div>

</div>
{{template "tabbar"}}

<script type="text/javascript">//返回主页JS
    function home() {
        window.location.href = "/";
            return false;
                        }
</script>

    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
</body>

</html>
